
<ul>
  <li ng-repeat="item in items">
    <span>{{item.name}}</span>
    <span>{{item.price}} SEK</span>
    <a id="link-1" href ng-click="addToCart({{item}})">Add</a>
  </li>
  </ul>
cart:
  <ul>
  <li ng-repeat="cartItem in cart track by $index">
    <span>{{cartItem.name}}</span>
  </li>
  </ul>

categories:
<ul>
  <li ng-repeat="category in categories">
    <span>{{category.name}}</span>
  </li>
</ul>

history:
<ul>
  <div ng-repeat="purchase in history">
    <div>
     <span> {{purchase.purchaseId}} - {{purchase.name}}  - <a id="delete" href ng-click="removeFromPurchase(purchase.purchaseId,purchase.itemPurchaseId)">remove</a> </span><br>
    </span>
    <!--<a id="delete" href ng-click="removePurchase(purchase.purchaseId)">delete entire purchase</a>-->
    </div>
  </div>

</ul>

