<div class="row">
  <div class="col-md-4">
    categories
      <span ng-repeat="category in categories">
         <button class="btn btn-default btn-lg btn-block" ng-click="stockForCategory('{{category.name}}')">
           {{category.name}}
         </button>
        </span>
  </div>
  <div class="col-md-4">
    items

    <span ng-repeat="item in items">
      <button class="btn btn-default btn-lg btn-block" ng-click="addToCart({{item}})">{{item.name}}</button>
    </span>

  </div>
  <div class="col-md-4">
    <div class="row">
      <h1 class="text-right">{{ sum() }} KR</h1>
    </div>
    <div class="row">
      <table class="table">
        <tr ng-repeat="(key,cartItem) in cart">
          <td>{{cartItem.item.name}}</td>
          <td><button class="btn btn-danger" ng-click="decreaseItemCount({{cartItem.item.ean}})">-</button></td>
          <td>{{cartItem.count}}</td>
          <td><button class="btn btn-success" ng-click="increaseItemCount({{cartItem.item.ean}})">+</button></td>
        </tr>
      </table>

    </div>

  </div>
</div>


history:
<ul>
  <div ng-repeat="purchase in history">
    <div>
      <span> {{purchase.purchaseId}} - {{purchase.name}}  - <a id="delete" href
                                                               ng-click="removeFromPurchase(purchase.purchaseId,purchase.itemPurchaseId)">remove</a> </span><br>
      </span>
      <!--<a id="delete" href ng-click="removePurchase(purchase.purchaseId)">delete entire purchase</a>-->
    </div>
  </div>

</ul>

